node_modules
npm-debug.log
.npm
.env
.git
.gitignore
README.md
.DS_Store
.nyc_output
coverage
.vscode
.idea
*.log
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
composer.phar
*.sublime-project
*.sublime-workspace
_ide_helper.php
.phpstorm.meta.php
