@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-yellow {
    color: transparent;
    -webkit-text-stroke: 1px #FFBB01;
  }
}

@font-face {
  font-family: 'Baloo';
  src: url('/fonts/baloo/Baloo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply bg-[#2A2F36] text-gray-200;
    -webkit-box-shadow: 0 0 0px 1000px #181D23 inset !important;
    -webkit-text-fill-color: #f3f3f3 !important;
    transition: background-color 9999s ease-in-out 0s;
  }
} */